

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}



.gallery-item img {
    width: 180px;
    height: auto;
    border: 1px solid #39ff27;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.gallery-item p {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
    color: #ff6868;
}
